body {

  background-color: white;

  /*
  afropeanbase-blue #0056DB
  afropeanbase-dark-blue #003A94
  afropeanbase-yellow #EBB800
  */

  font-family: Arial, KacstArt, sans-serif;
  /*
  background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-1/p200x200/29541006_178200129643315_7556358330537998963_n.png?_nc_cat=103&_nc_ht=scontent-frt3-1.xx&oh=0386c0fc92dee2d1b0c2dbba3d89d676&oe=5CE8CADD");
  background-repeat: repeat;
  */
  color:black;
}

a, p{
  font-size: x-large;
  color: #EBB800;
}

a:hover{
  color: #EBB800;
}

.staricon{
  height: 2em;
  width: auto;
}

.bg-afropean{
  background-color: rgb(0,86,219);
}

.artist_picture{

  min-height: 300px;
  min-width: 300px;

  height: 15vmax;
  width: 15vmax;

  object-fit: cover;

  //max-height: 20vmax;
  //max-width: 20vmax;
}

.mycontainer{
  background-color: white;
}

.mynav .m-3{
    background-color:white;
}
